<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://avatars.githubusercontent.com/u/65291634?v=4" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">


    <div class="navbar-end">
     <form action="/blog" method="POST">
      <div class="field has-addons">
        <div class="control">
          <input class="input is-primary" name="kerem" type="text" placeholder="Arama Yap">
        </div>
        <div class="control">
          <button class="button is-primary" type="submit">
            search
          </button>
        </div>
      </div>
     </form>
    </div>
  </div>
</nav>