<%- include('../partials/_header.ejs') %>

 
    <div class="columns is-multiline ">
        <% makaleler.forEach((makale,index)=> { %>
           
            <div class="column is-4 ">
                <%- include("../partials/_card.ejs",{ makale, index}) %>
            </div>
            <% }) %>

    </div>
   
    <% 
    const sayfaSayisi=sayfaBilgisi["x-wp-totalpages"];
    const toplamVeri=sayfaBilgisi["x-wp-total"];
    console.log(sayfaSayisi, toplamVeri);
    %> 
    
    <div class="column is-12 ">
        <%- include('../partials/_pagination.ejs',{sayfaSayisi,toplamVeri}) %>
    </div>
   