<%- include("../partials/_header.ejs") %>
    <div class="colums">
        <div class="column is-8 is-offset-2">

            <%- include("../partials/_card.ejs",{ makale, index:undefined}) %>
        </div>
    </div>